@import '../variables';
@import '../mixins';

.add-property-section {
  padding-top: 5rem;
  padding-bottom: 5rem;

  .tagline {
    padding-bottom: 3rem;
    font-size: 1.6rem;
    font-weight: 500;
    text-align: center;
  }

  .form-container {
    margin: 1rem;
    padding: 2.5rem;
    padding-bottom: 5rem;
    border-radius: 1rem;
    box-shadow: 0px 4px 63px rgba(0, 0, 0, 0.15);

    h2 {
      text-align: center;
      padding: 2rem 0;
    }

    form {
      @include flex(column, center, flex-start);
      gap: 3rem;

      .form-control {
        @include flex(column, flex-start, flex-start);
        gap: 0.8rem;
        width: 100%;
        font-size: 1.6rem;
        font-family: $DMSans;

        label {
          font-weight: 700;
        }

        input {
          display: block;
          width: -webkit-fill-available;
          padding: 1.5rem 1.5rem;
          background-color: $backgroundGray;
          border: 0.1rem solid #e6e6e6;
          border-radius: 0.5rem;
          font-size: 1.6rem;
          font-family: $DMSans;
          color: $textBlack;
        }

        select {
          display: block;
          width: 100%;
          padding: 1.5rem 1.5rem;
          border-radius: 0.5rem;
          border: 0.1rem solid #e6e6e6;
          background-color: $backgroundGray;
          font-size: 1.6rem;
          font-family: $DMSans;
          color: $textBlack;
        }

        textarea {
          display: block;
          width: -webkit-fill-available;
          padding: 1.5rem;
          border: 0.1rem solid #e6e6e6;
          background-color: $backgroundGray;
          font-family: $DMSans;
          font-size: 1.6rem;
          color: $textBlack;
        }

        .upload-container {
          @include flex();
          gap: 1.2rem;
          width: -webkit-fill-available;
          border-radius: 1rem;
          padding: 2rem 1.3rem;
          border: 0.2rem dashed $orange;
          background-color: rgba(244, 81, 30, 0.01);
          text-align: center;

          p {
            margin: 0;
            font-weight: 700;
            color: $orange;
          }

          .upload-success {
            color: green;
          }
        }

        input[type='file'] {
          display: none;
        }
      }

      a {
        width: 100%;
        padding: 1.5rem 0;
        border-radius: 1.3rem;
        background-color: $orange;
        font-size: 1.6rem;
        text-decoration: none;
        color: #fff;
        text-align: center;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .add-property-section {
    .form-container {
      form {
        @include flex(row, space-between, center);
        flex-wrap: wrap;

        .form-control {
          width: 47%;
        }
        .textarea-control {
          width: 100%;
        }
      }
    }
  }
}

@media screen and (min-width: 1280px) {
  .add-property-section {
    width: 120rem;
    margin: auto;

    p {
      font-size: 2.4rem;
    }

    .form-container {
      h2 {
        color: $orange;
        text-decoration: none;
      }

      form {
        justify-content: flex-start;

        .form-control {
          width: 31.5%;

          label {
            font-size: 1.7rem;
          }
        }
        .textarea-control {
          width: 100%;
        }
      }
    }
  }
}
