@import "../variables";
@import "../mixins";

footer {
  padding: 6rem 1.5rem 0;
  @include flex();
  gap: 2.5rem;
  font-size: 1.4rem;

  section {
    width: 100%;
  }

  .logo-and-content {
    @include flex(column, center, flex-start);
    gap: 2.5rem;
    padding: 1.2rem;

    .footer-logo {
      padding: 1.5rem;
      background-color: $orange;
      width: fit-content;
      border-radius: 2rem;
    }

    .company-info {
      @include flex(column, center, flex-start);
      gap: 2rem;

      div {
        @include flex(row, flex-start, center);
        gap: 2rem;

        img {
          width: 2rem;
          height: 2rem;
        }
      }

      .social-icons {
        @include flex(row, flex-start, center);
        flex-wrap: wrap;
        gap: 2rem;
      }
    }
  }

  .footer-nav {
    border-top: 1px solid rgba(123, 185, 252, 0.3);

    padding: 1.2rem;

    ul {
      list-style-type: none;
      padding: 0;
      @include flex(row, center, center);
      flex-wrap: wrap;
      gap: 1.8rem;

      a {
        text-decoration: none;
        text-transform: uppercase;
        color: #000;
      }
    }

    p {
      color: rgba(10, 20, 47, 0.5);
      text-align: center;
    }
  }
}

@media screen and (min-width: 768px) {
  footer {
    gap: 12rem;
    .main-footer-content {
      border-top: 2px solid $orange;

      .logo-and-content {
        max-width: 100rem;
        margin: auto;
        padding-top: 12rem;
        flex-direction: row;
        justify-content: space-between;
        gap: 6rem;

        .company-info {
          @include flex(row, space-between, center);
          flex-wrap: wrap;
          width: 50rem;

          div {
            width: 100%;
          }

          div + div {
            width: 48%;
          }

          .social-icons {
            width: 100%;
          }
        }
      }
    }

    .footer-nav {
      max-width: 100rem;
    }
  }
}

@media screen and (min-width: 960px) {
  footer {
    width: 85rem;
    margin: auto;
  }
}

@media screen and (min-width: 1280px) {
  footer {
    width: 120rem;

    .footer-nav {
      @include flex(row, space-between, center);
    }
  }
}
