@import '../variables';
@import '../mixins';

#hero-section {
  background: url(../../assets/img/etienne-beauregard-riverin.png) 50% 50%
    no-repeat;
  background-size: cover;
  color: $textWhite;

  .hero-main {
    padding: 5rem 0 8rem;

    h1 {
      font-size: 3.5rem;
      text-transform: capitalize;
    }

    .location-search-container {
      .map-img {
        width: 100%;
      }

      .map-search-control {
        @include flex(row, space-between);
        width: 90%;
        margin: auto;
        padding: 1rem;
        height: 4rem;
        border-radius: 0.8rem;
        background-color: $textWhite;

        select {
          background-color: #f9f9f9;
          border-color: #e6e6e6;
          padding: 1rem 0.8rem;
          border-radius: 0.8rem 0 0 0.8rem;
          width: 33.33%;
          flex-grow: 1;
          height: 100%;

          font-family: $DMSans;
        }

        select + select {
          border-radius: 0;
        }

        a {
          background-color: $backgroundBlue;
          max-height: 100%;
          padding: 1rem;
          border-radius: 0 0.8rem 0.8rem 0;
          @include flex();
        }
      }
    }
  }
}

@media screen and (min-width: 640px) {
  .location-search-container {
    width: 41rem;
    margin: auto;
  }
}

@media screen and (min-width: 768px) {
  .hero-main {
    max-width: 120rem;

    .hero-main-content {
      @include flex(row, space-evenly, center);

      h1 {
        width: 40rem;
      }

      .location-search-container {
        margin: 0;
      }
    }
  }
}

@media screen and (min-width: 1280px) {
  #hero-section {
    height: 80vh;
    @include flex(column, flex-start, center);

    .hero-main {
      width: 120rem;
      margin: auto;

      h1 {
        width: 55rem;
        font-size: 4.8rem;
      }
    }
  }
}
