@import "../variables";
@import "../mixins";

.key-features-section {
  padding-top: 5rem;
  padding-bottom: 5rem;
  @include flex(column, center, center);
  gap: 2.5rem;

  h2 {
    font-size: 2.5rem;
    text-decoration: underline;
    text-decoration-color: $orange;
  }

  img[alt="feature-property"] {
    display: none;
  }

  ul {
    list-style-type: none;
    padding: 0;
    @include flex(row);
    flex-wrap: wrap;
    gap: 1.8rem;

    li {
      width: 15rem;
      height: 15rem;
      font-size: 1.6rem;
      font-weight: 600;
      @include flex(column, flex-start, flex-start);

      img {
        height: 3rem;
        background-color: #fff;
        border-radius: 1rem;
        padding: 1.2rem;
        box-shadow: 0px 12px 19px rgba(0, 0, 0, 0.15);
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .key-features-section {
    flex-direction: row;
    flex-wrap: wrap;

    .feature-home {
      width: 48%;

      img[alt="feature-property"] {
        display: block;
        border-radius: 5rem 0;
        width: 100%;
      }
    }

    ul {
      width: 48%;
    }
  }
}

@media screen and (min-width: 960px) {
  .key-features-section {
    width: 90rem;
    margin: auto;

    h2 {
      width: 100%;
    }

    .feature-home {
      width: 30rem;

      img[alt="feature-property"] {
        display: block;
        border-radius: 5rem 0;
        width: 100%;
      }
    }

    ul {
      width: 55rem;
    }
  }
}

@media screen and (min-width: 1280px) {
  .key-features-section {
    width: 120rem;
  }
}
