@import "../variables";
@import "../mixins";

main > section {
  padding: 1.2rem;

  h2 {
    font-size: 2.8rem;
    text-decoration: underline;
    text-decoration-color: $orange;
  }
}

@media screen and (min-width: 1280px) {
  main > section {
    h2 {
      font-size: 3.2rem;
    }
  }
}
