@import '../variables';
@import '../mixins';

@import '../components/testimonialCarousel';

.testimonials {
  @include flex();
  gap: 4.8rem;
  padding-top: 5rem;
  background-color: $backgroundOrange;

  .testimonial-video {
    position: relative;
    margin: 0 -1.2rem -1.2rem;

    video {
      display: block;
      width: 100%;
      object-fit: cover;
    }

    video + img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      display: block;
      height: 2rem;
      width: 2rem;
      padding: 2rem;
      border-radius: 50%;
      background: $orange;
    }
  }
}

@media screen and (min-width: 768px) {
  .testimonials {
    margin: 7rem 0;
    padding-top: 0;
    flex-direction: row;

    .testimonial-video {
      width: 50%;
      video {
        aspect-ratio: 1/1;
        height: 100%;
      }
    }
  }
}

@media screen and (min-width: 1280px) {
  .testimonials {
    justify-content: flex-end;
    gap: 3rem;

    .testimonial-video {
      min-width: 50%;
    }
  }
}
