@import "../variables";
@import "../mixins";

.testimonials {
  @include flex();
  gap: 2.8rem;
  padding-top: 5rem;
  background-color: $backgroundOrange;

  .testimonial-carousel {
    @include flex(column, center, flex-start);
    gap: 2rem;
    position: relative;

    .quotation-mark {
      position: absolute;
      top: 0;
      margin-top: -2rem;
      z-index: -1;
    }

    .client-info {
      @include flex(row, flex-start, center);
      gap: 1.2rem;

      div {
        @include flex(column, center, flex-start);
        gap: 0.4rem;

        span {
          font-size: 1.8rem;
          font-weight: 700;
          color: $orange;
        }

        span + span {
          font-size: 1.6rem;
          color: $textBlack;
          font-weight: 400;
        }
      }
    }
  }

  .testimonial-video {
    position: relative;
    margin: 0 -1.2rem -1.2rem;

    img {
      width: 100%;
    }

    img + img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      display: block;
      height: 2rem;
      width: 2rem;
      padding: 2rem;
      border-radius: 50%;
      background: $orange;
    }
  }
}

@media screen and (min-width: 768px) {
  .testimonials {
    margin: 7rem 0;
    padding-top: 0;
    flex-direction: row;

    .testimonial-carousel {
      width: 55%;
    }
  }
}
