@import '../variables';
@import '../mixins';

.property {
  max-width: 34rem;
  @include flex();
  gap: 2rem;
  border: 0.1rem solid #979797;
  border-radius: 2rem;
  background-color: #fff;

  .property-img {
    width: 100%;
    border-radius: 2rem 2rem 0 0;
  }

  .property-details {
    text-transform: capitalize;
    padding: 0 2.5rem;

    h3 {
      font-size: 2.2rem;
      margin: 0.5rem 0;
    }

    span {
      display: block;
      font-size: 1.6rem;
      color: $textGray;
    }

    span + span {
      font-size: 2rem;
      font-weight: 700;
      color: $orange;
    }
  }

  .property-info {
    @include flex(row, space-between, center);
    width: 100%;
    border-top: 0.1rem solid #e6e6e6;

    span {
      display: block;
      border-right: 0.1rem solid #e6e6e6;
      padding: 1.5rem;
      width: 33.3333%;
      font-size: 1.6rem;
      text-align: center;

      img {
        height: 2rem;
      }
    }
  }
}

@media screen and (min-width: 640px) {
  .property {
    max-width: 30rem;
  }
}

@media screen and (min-width: 960px) {
  .property {
    max-width: 31%;
  }
}
