// Text Color
$textWhite: #fff;
$textBlack: #18191f;
$orange: #f4511e;
$textGray: #e6e6e6;

// Background Color
$backgroundOrange: rgba(244, 81, 30, 0.07);
$backgroundGray: #f9f9f9;
$backgroundBlue: #23a6f0;

// Font Family;
$Inter: "Inter", sans-serif;
$DMSans: "DM Sans", sans-serif;
